@import "../../vars.css";

.orderContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    background-color: var(--color-bg);
    border-radius: 15px;


    /*
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 10px; */

    padding-top: 45px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;


    margin-bottom: 3%;
    margin-left: 10%;
    margin-right: 10%;
    gap: 30px;

    scroll-margin-top: 95px;
}

.instructions {
    padding-top: 15px;
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    /* letter-spacing: 1.75px; */
}
.instructions h3 {
    font-size: 22px;
    font-weight: 700;
    font-family: var(--font-roboto);
}

.instructions ul {
    font-size: 20px;
    font-weight: 400;
    list-style-position: inside;
    font-family: var(--font-roboto);
   
}

.instructions p {
    padding-top: 25px;
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font-roboto);
}

@media screen and (max-width: 830px) { 

.instructions {
    gap: 10px;
}
.instructions ul {
    font-size: 12px;
    letter-spacing: 0.5px;
}
.instructions p {
    font-size: 15px;
    padding-top: 15px;
}

}