@import "../../vars.css";

.work {
    background-color: #fff;
    padding-top: 3%;
    color: black;
    padding-bottom: 3%;
}

.work h2 {
    text-align: center;
}

.container {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4px;
    z-index: 1;
    padding-left: 5%;
    padding-right: 5%;
   
}

.title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
}

.carouselsContainer {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.carouselSet {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap:1px;
}

.carouselSet h3 {
    font-size: 30px ;
    font-weight: 500;
}


@media screen and (max-width: 830px) {
    .container {
        flex-direction: column;
    }
    .content {
        align-items: center;
    }
    .work {
        text-align: center;
    }
    .carouselsContainer {
        flex-direction: column;
        justify-content:space-around;
        gap:55px;
    }
}